* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    color: white;
    padding: 5px;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: black;
    justify-self: center;
    align-self: center;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.301);
}

button {
    width: 65px;
    height: 65px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-weight: 800;
    transition: all ease-in-out 0.2s;
}

.superior {
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inferior{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inferior button {
    margin-left: 6px;
    margin-right: 6px;
}

.directions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.control {
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    visibility: hidden;
}

.run {
    margin-left: 50px;
}

@media screen and (orientation: portrait) {
    .control {
        position: relative;
        visibility: visible;
    }

    button:hover {
        background-color: rgb(158, 158, 158);
    }
  }